* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* header  */
.header{
    height: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* main  */
.main{
    min-height: calc(100vh - 50px - 40px);
    border: black 1px solid ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /* for mobile change here */
    align-items: center; 
    /* -- */
}
.main-image{
    width:  500px;
    height: 500px;
    background-image: url(./images/descuentos.jpg);
    border: black 5px solid;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;

}
.main-shopping{
    width: 400px;
    min-height: 300px;
    border: black 2px solid;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-shopping_precios, .main-shopping_descuentos, .main-shopping_total{
    border-bottom: 2px rgb(122, 122, 122) solid;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.main-shopping_codigo{
    border-bottom: 2px rgb(122, 122, 122) solid;
    padding-bottom: 5px;
}
 


/* footer */
.footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    color: white;
}